/* Section de la page entière */
.container {
    width: 100%;
    height: auto;
    display: flex;
}

/* Make the 2 columns inline */
.col1, .col2 {
    position: relative;
    display: inline;
    margin: 0;
}

/* Menu depart */
.col1 {
    width: 29%;
    height: auto;
    background-color: #003d6b;
    color: white;
}

/* Link */
li {
    text-decoration: none;
}

/* Section d'exploration */
.col2 {
    border: 1px solid orange;
    width: 70%;
    height: auto;
}
